<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="icons/bootstrap-icons.css">
        <link rel="stylesheet" href="/main.css">
        <link rel="shortcut icon" href="/img/Favicon.png" type="image/x-png">
        <title> Hosam Umbaddi </title>

    </head>

    <body>

        <!-- nav menu start -->

        <div class="navbar">

            <div class="navbar__menu" id="nav-menu">

                <div class="navbar__content">

                    <div class="navbar__title"> Useful Links </div>

                    <div class="navbar__list">

                        <div class="navbar__list--item"> 
                            <a href="https://linkedin.com/in/umbaddih/" target="_blank"> LinkedIn </a> 
                        </div>

                        <div class="navbar__list--item"> 
                            <a href="https://github.com/hosam2002/" target="_blank"> Github </a> 
                        </div>

                        <div class="navbar__list--item"> 
                            <a href="https://www.facebook.com/share/QWvGLn7zaFbV3Rnq?mibextid=qi20mg" target="_blank"> Facebook </a> 
                        </div>

                        <div class="navbar__list--item"> 
                            <a href="https://x.com/umbaddih" target="_blank"> X </a> 
                        </div>

                    </div>

                </div>

            </div>

            <div class="navbar__close" id="nav-close"> </div>

        </div>

        <!-- nav menu end -->

        <!-- header start -->

        <header class="header">

            <div class="header__logo"> <a href="#"> <img src="/img/svg/LogoSlate.svg" > </a> </div>

            <div class="header__nav nav">

                <input type="checkbox" name="nav-toggle" id="nav-btn" class="nav__checkbox">
                <label for="nav-btn" class="nav__button"> <span class="nav__hamburger"></span> </label>

            </div>

        </header>

        <!-- header end -->

        <!-- main start -->

        <main>

            <!-- home start -->

            <div class="home">

                <div class="home__content">

                    <div class="home__content--heading"> HELLO, </div>
                    <div class="home__content--dev"> I'm <span>Hosam</span>, </div>

                    <div class="home__content--description"> 
                        Passionate and enthusiastic <span>Graphic Designer</span> and <span>Frontend Developer</span>.
                        <span>Ready for any remote work or volunteering opportunity.</span>
                    </div>

                </div>

            </div>

            <!-- home end -->

            <!-- technologies start -->

            <div class="technologies">

                <div class="technologies__grid">

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/html5.svg" > </div>
                        <div class="technologies__item--name"> HTML5 </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/css3.svg" > </div>
                        <div class="technologies__item--name"> CSS3 </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/javascript.svg" > </div>
                        <div class="technologies__item--name"> JavaScript </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/nodejs.svg" > </div>
                        <div class="technologies__item--name"> Node.JS </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/reactjs.svg" > </div>
                        <div class="technologies__item--name"> React.JS </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/sass.svg" > </div>
                        <div class="technologies__item--name"> SASS </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/npm.svg" > </div>
                        <div class="technologies__item--name"> NPM </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/gitcommands.svg" > </div>
                        <div class="technologies__item--name"> GIT Repos </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/responsive.svg" > </div>
                        <div class="technologies__item--name"> Responsive </div>
                    </div>

                    <div class="technologies__item">
                        <div class="technologies__item--icon"> <img src="/img/svg/tech/illustrator.svg" > </div>
                        <div class="technologies__item--name"> Illustrator </div>
                    </div>

                </div>

            </div>

            <!-- technologies end -->

            <!-- services start -->

            <div class="services">

                <div class="services__heading"> <h1 class="h-primary"> My Skills </h1> </div>

                <div class="services__content">
                    
                    <div class="services__card">

                        <div class="services__img"> <img src="/img/GraphicDesign.jpg"> </div>
                        <div class="services__title"> <span>Graphics</span> Design </div>

                        <div class="services__body">

                            <div class="services__list">
                                
                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> UI Design </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Professional CV / Resume </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Professional SM Poster </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Professional Visual Identity </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Over 5 years of Experience </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="services__card">

                        <div class="services__img"> <img src="/img/Frontend.jpg"> </div>
                        <div class="services__title"> <span>Web</span> Development </div>

                        <div class="services__body">

                            <div class="services__list">

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Frontend Expert </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Fully Responsive </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Vanilla JavaScript / or React.JS </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Pure CSS3 with SASS </div>
                                </div>

                                <div class="services__item">
                                    <div class="services__item--icon"> <i class="bi-check2-circle"></i> </div>
                                    <div class="services__item--text"> Over 4 years of Experience </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- services end -->

            <!-- projects start -->

            <div class="project">

                <div class="project__heading"> <h1 class="h-primary"> Recent Project </h1> </div>

                <div class="project__content">
                    
                    <div class="project__wrapper">

                        <div class="project__brand">                            
                            <div class="project__brand--logo"><img src="./img/svg/TasmimLogo.svg" ></div>
                            <div class="project__brand--name">Tasmim</div>
                            <div class="project__brand--stat">Personal</div>
                        </div>

                        <div class="project__desc">

                            <div class="project__desc--title">Attractive and interactive web app</div>
                            <div class="project__desc--body">
                                Tasmim is the latest project I have built, using <span>Pure CSS</span> with <span>SASS</span> and 
                                <span>Vanilla JavaScript</span> with simple logic. Sometimes, ignoring modern Frameworks and Libraries leads to simplistic your project, Tasmim web app is built totally with no help of any Framwork or Library but <span>SASS</span>
                            </div>

                        </div>

                        <div class="project__footer">
                            <a href="https://tasmim-store.netlify.app" target="_blank" class="project__link">Visit</a>
                        </div>

                    </div>

                </div>

            </div>

            <!-- projects end -->

            <!-- contact start -->

            <div class="contact">

                <div class="contact__heading"> <h1 class="h-primary"> Contact me </h1> </div>

                <div class="contact__content">

                    <form action="/form/send" id="contact" method="post" class="contact__form form">

                        <div class="contact__name">
                            <input type="text" required placeholder="name" name="name" class="contact__field">
                        </div>

                        <div class="contact__email">
                            <input type="email" required placeholder="email" name="email" class="contact__field">
                        </div> 

                        <div class="contact__body">
                            <textarea name="body" required placeholder="message" class="contact__field"></textarea>
                        </div>

                    </form>

                    <div class="contact__submit">
                        <button form="contact">Send</button>
                    </div>

                </div>

            </div>

        </main>

        <!-- main end -->

        <!-- footer start -->

        <footer class="footer">

            <div class="footer__desc">
                
                Meet <span>Hosam Umbaddi</span>, enthusiastic and experienced <span>Freelancer</span>, university student in the 2nd level. Eager to extend my experience and build more modern websites along with designing charming designs. <span>Ready for any volunteering work opportunity.</span>
            
            </div>

            <div class="footer__logo"> <a href="#"> <img src="/img/svg/LogoSlate.svg" alt="logo"> </a> </div>

            <div class="footer__bottom">

                <div class="footer__link">

                    <a href="https://github.com/hosam2002/" target="_blank" > 
                        <i class="bi-github"></i> 
                    </a>

                    <a href="https://linkedin.com/in/umbaddih/" target="_blank" > 
                        <i class="bi-linkedin"></i> 
                    </a>

                    <a href="https://www.facebook.com/share/QWvGLn7zaFbV3Rnq?mibextid=qi20mg" target="_blank" > 
                        <i class="bi-facebook"></i> 
                    </a>

                </div>

            </div>

        </footer>

        <!-- footer end -->
        
    </body>

    <script src="/index.js"></script>

</html>