<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/icons/bootstrap-icons.css">
        <link rel="shortcut icon" href="/img/Favicon2.png" type="image/x-png">
        <title> Page not Found </title>
        
    </head>

    <body>

        <!-- nav menu start -->

        <div class="navbar">

            <div class="navbar__menu" id="nav-menu">

                <div class="navbar__content">

                    <div class="navbar__title"> Quick Links </div>

                    <div class="navbar__list">

                        <div class="navbar__list--item"> 
                            <a href="/" > Home Page </a> 
                        </div>

                    </div>

                </div>

            </div>

            <div class="navbar__close" id="nav-close"></div>

        </div>

        <!-- nav menu end -->

        <!-- header start -->

        <header class="header">

            <div class="header__logo"> <a href="/"> <img src="/img/svg/LogoSlate.svg" > </a> </div>

            <div class="header__nav nav">

                <input type="checkbox" name="nav-toggle" id="nav-btn" class="nav__checkbox">
                <label for="nav-btn" class="nav__button"> <span class="nav__hamburger"></span> </label>

            </div>

        </header>

        <!-- header end -->

        <!-- notfound start -->

        <div class="notfound">
            
            <div class="notfound__img"><img src="/img/svg/PageNotFound.svg" ></div>
            
            <div class="notfound__title"> Error 404 </div>

            <div class="notfound__desc"> Seems like this page doesn't exist </div>

        </div>

        <!-- notfound end -->
        
    </body>

    <script src="/app.js"></script>

</html>