<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/icons/bootstrap-icons.css">
        <link rel="shortcut icon" href="/Favicon.png" type="image/x-png">
        <title>Success</title>
        
    </head>

    <body>

        <!-- nav menu start -->

        <div class="navbar">

            <div class="navbar__menu" id="nav-menu">

                <div class="navbar__content">

                    <div class="navbar__title"> Useful Links </div>

                    <div class="navbar__list">

                        <div class="navbar__list--item"> 
                            <a href="/" > Home Page </a> 
                        </div>

                    </div>

                </div>

            </div>

            <div class="navbar__close" id="nav-close"></div>

        </div>

        <!-- nav menu end -->

        <!-- header start -->

        <header class="header">

            <div class="header__logo"> <a href="/index.html"> <img src="/img/svg/LogoSlate.svg" > </a> </div>

            <div class="header__nav nav">

                <input type="checkbox" name="nav-toggle" id="nav-btn" class="nav__checkbox">
                <label for="nav-btn" class="nav__button"> <span class="nav__hamburger"></span> </label>

            </div>

        </header>

        <!-- header end -->

        <!-- success start -->

        <div class="success">

            <div class="success__content">

                <div class="success__header">
                    <div class="success__header--icon"><i class="bi-check-all"></i></div>
                    <div class="success__header--title">Message was sent successfully</div>
                </div>
    
                <div class="success__desc">
                    Thank your for allocating some of your time to communicate with me, I will reply to you as soon as possible, if you didn't receive a response within 72h that means your email address is misspelled or is not valid. click <a href="/">here</a> to return to home page
                </div>

            </div>

        </div>

        <!-- success end -->
        
    </body>

    <script src="/index.js"></script>

</html>